
.Cell{
    background-color: #263238;
    transition: background-color .7s ease; 
    border-radius:2px; 
    width: 70px;
    height: 70px;
}
.Cell-lit{
    background-color:#00bcd4;
    width: 70px;
    height: 70px;
}